Source: jazz
Maintainer: Stefano Palazzo <stefano.palazzo@gmail.com>
Section: python
Priority: optional
Build-Depends: python3.4, python3-setuptools, debhelper (>=9)
Standards-Version: 3.9.5

Package: python3-jazz
Architecture: all
Depends: python3.4, python3-setuptools,
         python3-docopt (>=0.6.1),
         python3-docopt (>=3.1.1),
         ${misc:Depends}
Homepage: https://github.com/sfstpala/jazz
Description: PC-Speaker Annoy-'O'-Matic
 Make music using the PC speaker of our old Jenkins monitor
