body {
    font-family: sans-serif;
}
a.key {
    display: inline-block;
    float: left;
    height: 180px;
    width: 40px;
    margin-right: -1px;
    border: 1px solid black;
    text-align: center;
    line-height: 320px;
    z-index: 200;
    position: relative;
    cursor: pointer;
    box-sizing: border-box;
}
a.key.black {
    background: black;
    border: 1px solid white;
    color: white;
    border-top: 1px solid black;
    height: 100px;
    margin: 0 -24px 0 -20px;
    line-height: 40px;
    z-index: 400;
    position: relative;
}
